body{
    display:grid;
    grid-template-areas: 
        "header header header"
        "nav main main"
        "footer footer footer";
    grid-template-columns: 1fr 80%;
    grid-template-rows: 20% 1fr 15$;
    font-family: 'Bilbo', cursive, sans-serif;
}

header{
    grid-area: header;
    border: solid black 1px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 5vh;
}

nav{
    grid-area: nav;
    border: solid black 1px;
    font-size: 4vh;
    justify-self: start;
    text-align: left;
}
nav ul{
    list-style-type: none;
    font-size: 5vh;
    margin-right: 20px;
}

.topic, .topic-alone{
    transition: .5s;
}
.subTopics{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-size: 3vh;
}


main{
    grid-area: main;
    border: solid black 1px;
    font-size: 5vh;
}

footer{
    grid-area: footer;
    border: solid black 1px;
}

.active, .topic:hover, .topic-alone:hover {
    background-color:#ccc;
}