body{
    display:grid;
    grid-template-areas: 
        "header header header"
        "nav main main"
        "footer footer footer";
    grid-template-columns: 15% 1fr;
    grid-template-rows: 20% 1fr 15$;
}

header{
    grid-area: header;
    background-color: red;
    justify-self: center;
    align-self: center;
    grid-column: 1/ span 2;
}

nav{
    grid-area: nav;
    background-color: green;
}

main{
    grid-area: main;
    background-color: blue;
}

footer{
    grid-area: footer;
    background-color:yellow;
}